# Auto detect text files and perform LF normalization
* text=auto
*.txt      text
*.png      binary
*.jpg      binary
*.jpeg     binary
*.gif      binary
*.ico      binary
*.svg      text
*.json     text