.btn {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 4px;
    background-color: rgb(194, 184, 184);
    transform: translate(0px, 0px);
}

.btn:active {
    transform: translate(3px, 3px);
}