.btn {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 4px;
    background-color: rgb(194, 184, 184);
    transform: translate(0px, 0px);
    cursor: pointer;
}


.invisible {
    visibility: hidden;
}

.closeBtn {
    margin-left: auto;
    margin-right: 5px;
    margin-top: 5px;
    color: #ddd;
    border: none;
    background-color: transparent;
}

.small {
    width: 15px;
    height: 15px;
    font-size: 1.1rem;
    margin: auto;
}

@media screen and (min-width: 800px) {
    .btn {
        width: 25px;
        height: 25px;
    }
    .btn:active {
        transform: translate(3px, 3px);
    }
    .small {
        width: 15px;
        height: 15px;
    }   
}

@media screen and (min-width: 1024px) {
    .btn {
        width: 30px;
        height: 30px;
    }
    .small {
        width: 15px;
        height: 15px;
    }
}