.btn {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 4px;
    background-color: rgb(194, 184, 184);
    transform: translate(0px, 0px);
    cursor: pointer;
}

.btn:active {
    transform: translate(3px, 3px);
}

.small {
    width: 15px;
    height: 15px;
    font-size: 1.1rem;
    margin: 5px auto;
}

.invisible {
    visibility: hidden;
}