.appContainer {
    width: 100%;
    min-height: 90vh;
    background-color: #e6a121 ;
    margin: 5px auto;
    border: 1px solid transparent;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-image: url('../assets/Mars-surf-med.jpg');
    background-size: cover;

}

.app {
    width: 100%;
    margin: auto;
    min-height: 90vh;
    display: grid;
    gap: 1rem;
    grid-template-columns: 3fr 1fr;
    border-radius: 10px;
}

@media screen and (min-width: 800px) {
    .appContainer {
        width: 90%;
    }     
}

@media screen and (min-width: 1200px) {
    .appContainer {
        width: 80%;
    }     
}