:root {
   --app-height: 100vh; 
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    min-height: var(--app-height);
    font-size: 10px;
}

.appContainer {
    width: 100%;
    min-height: var(--app-height);;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 5px auto;
    border: 1px solid transparent;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: rgba(88, 89, 88, 0.3);
    background-attachment: fixed;

}

.app {
    width: 100%;
    margin: auto;
    min-height: var(--app-height);
    display: grid;
    gap: 1rem;
    -ms-grid-columns: 3fr 1fr;
    grid-template-columns: 3fr 1fr;
    border-radius: 10px;
}

.defaultBackground {
    background-image: url('../assets/storm-min.jpg');
}

.clearSkyBackground {
    background-image: url('../assets/daytime-background-min.jpg');
}

.nightBackground {
    background-image: url('../assets/night-background-min.png');
}

.defaultBackground, .clearSkyBackground, .nightBackground {   
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.fallback {
    display: grid;
    width: 100%;
    height: 90vh;
}

.fallbackMessage {
    margin: auto;
    color: #ccc;
    font-size: 2.5rem;
    font-weight: bold;
}

@media screen and (max-width: 480px) {
    html {
        font-size: 10px;
    }
    .appContainer {
        width: 100%;
    } 
}


@media screen and (min-width: 640px) {
    html {
        font-size: 12px;
    }
    .appContainer {
        width: 90%;
    }     
}

@media screen and (min-width: 800px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 1024px) {
    .appContainer {
        --app-height : 90vh;
    }

    .defaultBackground {
        background-image: url('../assets/storm-med.jpg');
    }
    
    .clearSkyBackground {
        background-image: url('../assets/daytime-background-med.jpg');
        opacity: 0.85;
    }
    
    .nightBackground {
        background-image: url('../assets/night-background-med.png');
    }
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 16px;
    }
    .appContainer {
        width: 80%;
    }     
}
