.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 4fr 1fr;
    align-items: flex-start;
    justify-items: center;
}

.searchForm {
    width: 80%;
    height: calc(var(--app-height) - 10vh);
    display: grid;
    grid-template-columns: 6fr 1fr;
    justify-content: center;
    margin-top: 5vh;
    border: 2px solid #333;
    box-shadow: 0 0 4px 4px #5660d1;
    border-radius: 5px;
    background-color: rgba(17, 32, 119, 0.7);
}

.searchContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;

}

.geoBtn {
    padding: .5rem;
    background-color: #bbb;
    color: #000;
    text-transform: uppercase;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 800;
    border: none;
    border-radius: .25rem;
    box-shadow: 0 0 5px 0 #fff;
    cursor: pointer;
}

.geoBtn:active,
.geoBtn:focus,
.geoBtn:hover {
    filter:brightness(150%);
}

.geoBtn:active {
    transform: translate(2px, 2px);
}

@media  screen and (max-width: 480px) {
    .searchForm {
        width: 100%;
    }
}